/*******************************
	Mobile Responsive CSS
*******************************/
@media (max-width: 1199px){
	.nav-menu ul li {
		padding-left: 10px;
		padding-right: 10px;
	}
    .banner-text h1 {
    font-size: 54px;
    line-height: 66px;
}
}

@media(max-width:991px){
    .banner-preview-image img{
        width: 338px;
    }
    .banner-preview-image img{
        width: 320px;
    }
    span.edumall-shape-2,
    span.edumall-shape-3{
        width: 120px;
    }
	.header-menu nav.nav-menu,
	.header-btn{
    display: none;
}
.xs-mobile-menu,
.humbergur{
    display: block;
}
	.section-box h2:after {
	    width: 236px;
	    height: 200px;
	}
	h2.section-angle{
		font-size: 23px;
		padding: 12px;
	}
	.humbergur .bar-1, .humbergur .bar-2, .humbergur .bar-3 {
	    width: 35px;
	    height: 4px;
	    margin: 5px 0px;
	    background-color: #221638;
	    -webkit-transition: all 0.5s ease;
	    transition: 0.5s;
	    border-radius: 5px;
	}
	.humbergur .bar-2 {
    	width: 27px;
	}
	.allWork .humbergur .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 9px);
    transform: rotate(-45deg) translate(-6px, 8px);
    background: #dd3333;
    height: 4px;
}
.allWork .humbergur .bar-2 {
    opacity: 0;
}
.allWork .humbergur .bar-3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
    background: #dd3333;
    height: 4px;
}
.xs-mobile-logo{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ddeee8;
    z-index: 999999;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}

.xs-mobile-menu {
position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ddeee8;
    width: 0;
    z-index: 99999;
    opacity: 1;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 81px;
    padding-bottom: 40px;
    height: 100%;
    max-width: 376px;
    width: 100%;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    overflow-x: hidden;
}
.allWork .xs-mobile-menu {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-nav-menu .nav-menu ul li{
	display: block;
}
.xs-mobile-menu .nav-menu {
    padding-top: 30px;
}
.xs-nav-menu .nav-menu ul li a {
    display: block;
    padding: 0px 12px 20px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.5s ease;
}
.xs-nav-menu .nav-menu ul li a:hover{
	color: #dd3333;
}
.xs-nav-menu .nav-menu ul li a:after{
	display: none;
}
.xs-cv-bton {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.xs-cv-bton a{
	display: inherit;
    font-size: 19px;
    color: #F8F8F8;
    font-weight: 600;
    padding: 10px 20px 12px;
    background-color: #221638;
    transition: all 0.5s ease;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.xs-cv-bton a:hover {
    color: #F8F8F8;
    background-color: #dd3333;
}
.xs-nav-menu{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    z-index: 10;
}
body.allWork {
    overflow: hidden;
}
.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
.cont-form {
    margin-left: 0;
    margin-right: 0;
}
.cont {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
}

@media(max-width: 900px){
.banner-image {
    display: none;
}
.banner-text{
    width: 100%;
}
.banner {
    padding: 45px 0px;
}
}
@media(max-width: 767px){
.container {
    padding-left: 20px;
    padding-right: 20px;
}
}

@media(max-width: 638px){

}

@media(max-width: 614px){

}

@media(max-width: 575px){
.banner-text h1 {
    font-size: 39px;
    line-height: 51px;
}
.banner-text h2{
    font-size: 29px;
}
.title h2{
    font-size: 28px;
}
.bottom-footer-text p {
    font-size: 15px;
}
.about-right-box {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.about-right-text {
    text-align: center;
}
.footer-menu-wrap{
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}
.top-footer.sp-60 {
    padding: 63px 0px;
}
.footer-menu p {
    display: inline-block;
    padding-right: 15px;
}
.footer-menu {
    padding-top: 30px;
}
.about-left-contant h3 {
    font-size: 20px;
}
.portfolio-menu ul li button {
    padding: 2px 7px;
    border-radius: 5px;
    font-size: 16px;
}
}

@media(max-width: 425px){

}

@media(max-width: 330px){

}