@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	max-width:  1170px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
ul, li,a,p{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #FAFAFA !important;
	font-size: 16px;
	color: #4a4949cc;
	line-height: 25px;
}
h1,h2,h3,h4,h5,h6{
	text-shadow: 1px 1px 2px #4444;
}
h2 {
    font-size: 32px;
    font-weight: 400;
    color: #000;
}
p{
    padding-bottom: 15px;
}
.actc-section-pad{
	padding: 50px 0px;
}
.actc-section-bg-color{
	background: #FAFAFA;
}
.actc-grd-pad{
	padding-bottom: 30px;
}
/*========Title========*/
.actc-title{
	position: relative;
	padding-bottom: 2px;
}
.actc-title h3{
	font-size: 25px;
	font-weight: 600;
	color: #000;
}
.actc-title p{
	font-size: 16px;
	color: #FC274D;
	line-height: 25px;
	padding-bottom: 0;
}
.actc-title-bar:after{
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	background: #FC274D;
	left: 0;
	bottom: 0;
}
.actc-overlay-link{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.actc-align-items{
	align-items: center;
	justify-content: center;
}