@import url('assets/css/_main.css');

@import url('_common.css');
@import url('_header.css');
@import url('_banner.css');
@import url('_home.css');

/*=====varson_2======*/

@import url('_about-me_v2.css');
@import url('_service_v2.css');
@import url('_acquaintance_v2.css');

/*=====varson_2======*/

@import url('_footer.css');