.actc-banner-section-image{
	position: relative;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 430px;
}
.actc-banne-overlai:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #0D0E11;
	opacity: 0.8;
}
.actc-banner-area{
	position: relative;
	z-index: 5;
	text-align: center;
	top: 40%;
}
.actc-banner-images{
	position: relative;
	max-width: 150px;
	min-height: 13px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 100px;
	border: 10px solid #3b525c
}
.actc-banner-images img{
	width: 100%;
	height: auto;
	transition: 0.8s;
}
.actc-banner-images:hover img{
	transform: scale(1.2);
}
.actc-banner-text span{
	color: #FC274D;
}
.actc-banner-text h2{
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	font-weight: 800;
	padding-top: 25px;
}
.actc-banner-text p{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}