/*=====Footer section====*/
footer{
	background: #000;
	padding: 25px 0px;
}
.actc-footer-area{
	display: flex;
	justify-content: space-between;
}
.actc-footer-text p{
	padding-top: 10px;
	font-size: 17px;
	color: #fff;
}
/*.actc-footer-icon a i{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	width: 50px;
	height: 50px;
	font-size: 18px;
	color: #FC274D;
	border-radius: 3px;
	transition: 0.5s;
}
.actc-footer-icon a i:hover{
	color: #fff;
	background: #FC274D;
}*/


#button {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #ff9800;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    border-radius: 5px;
}
#button i{
	color: #fff;
	font-size: 25px;
}
#button:hover {
  cursor: pointer;
  background: #FC274D;
}
#button.show {
  opacity: 1;
}
/*=====Footer section End====*/
/*# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------