@import url('https://fonts.googleapis.com/css2?family=Alata&family=Moo+Lah+Lah&family=Orbitron:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Moo+Lah+Lah&family=Orbitron:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300&family=Rubik:wght@300;400;500;600&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
body{
	position: relative;
	background: #fff;
	font-size: 16px;
	color: #4a4949cc;
	line-height: 25px;
	font-family: 'Poppins', sans-serif;
}
body.body-overflow:after {
    content: "";
    position: fixed;
    background: #171718bf;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
ul, li,a,p{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    color: #171718;
    line-height: 1.42;
}
a:hover{
	text-decoration: none;
}
img{
	width: 100%;
	height: auto;
}
.color{
	color: #171718;
}
.backward{
	background-color: #ff4500;
}
.top-header-section {
    background: #F6FAFD;
    padding: 20px 0px;
}
.top-menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-menu-item p{
    font-size: 18px;
    font-weight: 500;
}
.top-menu-item>ul>li{
    display: inline-block;
    padding-left: 25px;
}
.top-menu-item>ul>li>a{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.top-menu-item>ul>li:hover a{
    color: #ff4500;
}
.top-menu-item>ul>li>a span{
    font-size: 20px;
    padding-right: 5px;
}
.top-menu-item>ul>li>a span.phone i{
    transform: rotate(-45deg);
}

/*********************** Banding *******************/
.xs-branding_wrap {
        display: none;
    }
.branding_crtl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.branding-wrap {
    background: #1c1f3c;
    padding: 25px 0px;
}
.logo img {
    max-width: 150px;
    height: auto;
}
.search-box{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 500px;
}
.select-category {
    cursor: pointer;
    width: 170px;
    border: 0;
    font-size: 15px;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
}
.search-content {
    position: relative;
    max-width: 399px;
    width: 100%;
}
.search-content input[type="text"] {
    width: 100%;
    padding: 8px 35px 8px 15px;
    outline: none;
    border: 0px;
    font-style: italic;
    font-size: 17px;
    color: #000;
}
.search-content a button{
    position: absolute;
    right: 0%;
    border: 0;
    outline: none;
    padding: 11px 15px 5px 15px;
    font-size: 22px;
    background: transparent;
}
.select-wrap {
    padding-right: 10px;
    background: #fff;
    cursor: pointer;
}
.select-wrap:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #ddd;
    top: 0;
    right: 0;
}


.language>ul>li {
    position: relative;
    display: inline-block;
    padding-left: 16px;
}
.language>ul>li>a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
    transition: all 0.5s ease;
}
.language>ul>li>a:hover{
    color: #ff4500;
}
.language>ul>li:hover > a{
    color: #ff4500;
}
.language>ul>li>ul{
    position: absolute;
    width: 105px;
    background: #fff;
    left: 0;
    top: 150%;
    border-radius: 4px;
    transform: scaleX(0);
    transform: scale3d(1, 0, 1);
    transform-origin: top;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 25%);
}
.language>ul>li:hover ul{
    transform: scale3d(1, 1, 1);
    transform: scaleX(1);
}
.language>ul>li>ul>li{
    transition: all 0.5s ease;
    padding: 5px 0px 5px 15px;
}
.language>ul>li>ul>li:hover{
    background: #ff4500;
}
.language>ul>li>ul>li:hover:first-of-type{
    border-radius: 4px 4px 0px 0px;
}
.language>ul>li>ul>li:hover:last-of-type{
    border-radius: 0px 0px 4px 4px;
}
.language>ul>li>ul>li:hover a{
   color: #fff;
}
.language>ul>li>ul>li>a{
    color: #171718;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.language>ul>li>a.wishlist{
    position: relative;
}
.language>ul>li>a i{
    padding-left: 4px;
    transition: all 0.5s ease;
}
.language>ul>li:hover > a i{
    transform: rotate(180deg);
}
.language>ul>li>a:hover i{
    transform: rotate(180deg);
}
.language>ul>li>a.wishlist span.count-number {
    position: absolute;
    top: -23%;
    right: -57%;
    padding-top: 1px;
    color: #fff;
    background: #ff4500;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.language>ul>li>a:hover span.count-number{
    color: #fff;
}
/*********************** Banding End *******************/

/*********************** Menu*******************/

.main-menu-wrap{
    background: #1c1f3c;
    border-top: 1px solid #dddddd9e;
}
.menu-crtl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.vertical-menu>ul>li{
    position: relative;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.vertical-menu>ul>li>a {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.vertical-menu>ul>li>a i{
    padding-right: 4px;
}
.vertical-menu>ul>li:hover > a{
    color:  #ff4500;
}
.vertical-menu .drop-down>ul{
    position: absolute;
    background: #fff;
    width: 300px;
    top: 100%;
    left: 0;
    z-index: 20;
    transform: scale3d(1, 0, 1);
    transform-origin: top;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 25%);
}
.vertical-menu .drop-down:hover ul{
    transform: scale3d(1, 1, 1);
}
.vertical-menu .drop-down>ul>li{
    position: relative;
    border-bottom: 1px solid #ddd;
}
.vertical-menu .drop-down>ul>li:last-of-type{
    border-bottom: 0px;
}
.vertical-menu .drop-down>ul>li>a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
    padding: 6px 0px 6px 19px;
}
.vertical-menu .drop-down>ul>li:hover > a{
    color: #fff;
    background-color: #ff4500;
}
.vertical-menu .drop-down>ul>li>a span>i {
    padding-right: 5px;
    max-width: 24px;
    width: 100%;
    text-align: center;
}
.vertical-menu .drop-down>ul>li>a span.vert-icon {
    float: right;
    transition: all 0.5s ease;
    padding-right: 20px;
}
.vertical-menu .drop-down>ul>li:hover > a span.vert-icon{
    padding-right: 10px;
}
.vertical-menu .drop-down>ul .sub-menu>ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 300px;
    background: #fff;
    border-left: 1px solid #ddd;
    box-shadow: 3px 0px 7px -1px rgb(0 0 0 / 25%);
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease;
}
.vertical-menu .drop-down>ul .sub-menu:hover ul{
    height: auto;
    opacity: 1;
}
.vertical-menu .drop-down>ul .sub-menu>ul>li{
    position: relative;
    border-bottom: 1px solid #ddd;
}
.vertical-menu .drop-down>ul .sub-menu>ul>li:last-of-type{
    border-bottom: 0px;
}
.vertical-menu .drop-down>ul .sub-menu>ul>li>a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
    padding: 6px 0px 6px 19px;
}
.vertical-menu .drop-down>ul .sub-menu>ul>li:hover > a{
    color: #ff4500;
    background-color: #171718;
}
nav>ul>li {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav>ul>li>a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
nav>ul>li:hover > a{
    color: #ff4500;
}
nav>ul>li>a i {
    padding-left: 4px;
    transition: all 0.5s ease;
}
nav>ul>li:hover a i{
    transform: rotate(180deg);
}
nav .drop-down>ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background: #fff;
    z-index: 20;
    transform: scale3d(1, 0, 1);
    transform-origin: top;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 25%);
}
nav .drop-down:hover ul{
    transform: scale3d(1, 1, 1);
}
nav .drop-down>ul>li{
    position: relative;
    border-bottom: 1px solid #ddd;
}
nav .drop-down>ul>li:last-of-type{
    border-bottom: 0px;
}
nav .drop-down>ul>li>a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
    padding: 6px 0px 6px 19px;
}
nav .drop-down>ul>li:hover > a{
    color:#fff;
    background-color: #ff4500;
}
.info p{
    font-size: 14px;
    font-weight: 500;
    color: #a9a8a8;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*********************** Menu End*******************/

/*********************** Breadcrumb*******************/
section.breadcrumb-wrap{
    padding: 15px 0px;
    background: #F6FAFD;
}
.breadcrumb-crtl h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}
.breadcrumb-menu>ul>li {
    display: inline-block;
    padding-right: 6px;
    font-size: 16px;
    font-weight: 500;
}
.breadcrumb-menu>ul>li>a{
    transition: all 0.5s ease;
}
.breadcrumb-menu>ul>li:hover a{
    color: #ff4500;
}
.xs-menu-wrap {
display: none;
}

/*********************** Breadcrumb End*******************/

/*********************** Responsible***********************/
@media(max-width: 1115px){
    .info {
        display: none;
    }
    .add-to-cart>ul>li>a{
        font-size: 14px !important;
    }
}
@media(max-width: 991px){
    .vertical-menu>ul>li>a span.drop-down-text {
        display: none;
    }
    .menu-crtl {
        justify-content: center;
    }
    .select-wrap{
        display: none;
    }
    .search-box {
        display: block;
        width: inherit;
        max-width: inherit;
    }
    .search-content{
        max-width: 100%;
    }
}
@media(max-width: 809px){
    nav>ul>li{
        padding-left: 8px;
    }
    nav>ul>li>a{
        font-size: 15px;
    }
}
@media(max-width: 767px){
    .top-header-section{
        display: none;
    }
    .main-menu-wrap {
        display: none;
    }
    li.language-hide>a {
        display: none;
    }
    .branding_crtl{
        display: none;
    }
    .xs-branding_wrap {
        display: block;
    }
    .xs-branding_crtl {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        max-width: 151px;
        height: auto;
        margin: auto;
        padding-top: 15px;
    }
    /*/////////////////////////////mobile-icon-toggle/////////*/
    .mobile-icon-toggle {
        width: 50px;
        height: 41px;
        background: #fff;
        margin-right: 5px;
        padding: 5px 5px;
    }
    .mobile-icon-toggle .icon-1,
    .mobile-icon-toggle .icon-2,
    .mobile-icon-toggle .icon-3 {
        width: 35px;
        height: 4px;
        background: red;
        margin: 5px 0px;
        transition: all 0.5s ease;
    }
    .mobile-icon-toggle.opener .icon-2{
        opacity: 0;
    }
    .mobile-icon-toggle.opener .icon-1 {
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    .mobile-icon-toggle.opener .icon-3 {
        transform: rotate(45deg) translate(-7px, -5px);
    }
    /*/////////////////////////////mobile-icon-toggle/////////*/
    .container {
        max-width: 650px;
    }
    .language>ul>li{
        padding-left: 5px;
    }
   /*/////////////////////////////XS-MENU/////////*/
    .xs-menu-title {
        display: flex;
        align-items: center;
        background: #171718;
    }
    .xs-menu-wrap {
        position: absolute;
        top: 0;
        display: block;
        background: #fff;
        left: -500px;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        z-index: 9999;
        transition: all 0.5s ease;
        box-shadow: 0 0.125rem 0.48rem rgb(0 0 0 / 31%);
    }
    .xs-menu-wrap.opener {
        position: fixed;
        left: 0;
        transition: all 0.5s ease;
    }
    .xs-shop-ti {
        padding-right: 20px;
    }
    .xs-menu-ti h3,
    .xs-shop-ti h3{
        color: #fff;
        font-size: 15px;
        padding: 15px 18px;
    }
     .xs-main-menu-crtl,
    .xs-shop-menu-crtl{
        display: none;
    }
    .xs-menu-ti.active-s,
    .xs-shop-ti.active-sd-ca{
        background-color: #ff4500;
    }
    .xs-main-menu-crtl.active-sd,
    .xs-shop-menu-crtl.active-sd-cat{
        display: block;
    }
    .xs-shop-menu-crtl.active-sd{
        display: block;
    }
    .xs-main-menu-crtl>ul, .xs-shop-menu-crtl>ul {
        overflow-y: scroll;
        height: 500px;
    }
     .xs-main-menu-crtl>ul>li,
    .xs-shop-menu-crtl>ul>li{
        border-bottom: 1px solid #ddd;
    }
    .xs-main-menu-crtl>ul>li:hover,
    .xs-shop-menu-crtl>ul>li:hover{
        background: #ff4500;
    }
    .xs-main-menu-crtl>ul>li:hover a,
    .xs-shop-menu-crtl>ul>li:hover a{
        color: #fff;
    }
     .xs-shop-menu-crtl>ul>li:hover a i{
        color: #fff;
    }
    .xs-main-menu-crtl>ul>li>a,
    .xs-shop-menu-crtl>ul>li>a{
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: #171718;
        padding: 10px 0px 10px 3px;
        margin: 0px 16px;
    }
    .xs-shop-menu-crtl>ul>li>a span>i {
        padding-right: 5px;
        max-width: 24px;
        width: 100%;
        text-align: center;
        color: #918c8c;
    }
    .xs-main-menu-crtl>ul>li:last-of-type,
    .xs-shop-menu-crtl>ul>li:last-of-type{
        border-bottom: 0px !important;
    }
    span.vert-icon {
        float: right;
        margin-right: 5px;
        transition: all 0.5s ease;
    }
    .xs-main-menu-crtl>ul>li:hover span.vert-icon,
    .xs-shop-menu-crtl>ul>li:hover span.vert-icon{
        transform: rotate(90deg);
    }

/*///////////////////////////////////*/
    .xs-main-menu-crtl>ul>li>ul {
        
    }
    .xs-main-menu-crtl>ul>li>ul>li,
    .xs-shop-menu-crtl>ul>li>ul>li{
        padding: 7px 0px;
        border-bottom: 1px solid #ddd;
    }
     .xs-main-menu-crtl>ul>li>ul>li:hover,
        .xs-shop-menu-crtl>ul>li>ul>li:hover{
        background: black;
     }
    .xs-main-menu-crtl>ul>li>ul>li:first-of-type,
        .xs-shop-menu-crtl>ul>li>ul>li:first-of-type{
        padding-top: 0px;
    }
    .xs-main-menu-crtl>ul>li>ul>li:last-of-type,
    .xs-shop-menu-crtl>ul>li>ul>li:last-of-type{
        border-bottom: 0px !important;
    }
    .xs-main-menu-crtl>ul>li>ul>li>a,
        .xs-shop-menu-crtl>ul>li>ul>li>a{
        display: block;
        padding-left: 18px;
    }


    .xs-language {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #ff4500;
        padding: 15px;
        text-align: center;
    }
    .xs-language>ul>li {
        position: relative;
        display: inline-block;
        padding-left: 16px;
    }
    .xs-language>ul>li>a {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 15px;
        transition: all 0.5s ease;
    }
    .xs-language>ul>li>a:hover{
        color: #fff
    }
    .xs-language>ul>li>ul {
        position: absolute;
        width: 105px;
        background: #fff;
        right: 0%;
        top: -311%;
        border-radius: 4px;
        transform: scaleX(0);
        transform: scale3d(1, 0, 1);
        transform-origin: bottom;
        transition: all 0.5s ease;
        box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 25%);
    }
    .xs-language>ul>li:hover ul{
        transform: scale3d(1, 1, 1);
        transform: scaleX(1);
    }
    .xs-language>ul>li:hover ul{
    transform: scale3d(1, 1, 1);
    transform: scaleX(1);
}
.xs-language>ul>li>ul>li{
    transition: all 0.5s ease;
    padding: 5px 0px 5px 15px;
}
.xs-language>ul>li>ul>li:hover{
    background: #ff4500;
}
.xs-language>ul>li>ul>li:hover:first-of-type{
    border-radius: 4px 4px 0px 0px;
}
.xs-language>ul>li>ul>li:hover:last-of-type{
    border-radius: 0px 0px 4px 4px;
}
.xs-language>ul>li>ul>li:hover a{
   color: #fff;
}
.xs-language>ul>li>ul>li>a{
    color: #171718;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.xs-language>ul>li>a.wishlist{
    position: relative;
}
.xs-language>ul>li>a i{
    padding-left: 4px;
    transition: all 0.5s ease;
}
.xs-language>ul>li:hover > a i{
    transform: rotate(180deg);
}
.xs-language>ul>li>a:hover i{
    transform: rotate(180deg);
}
.xs-language>ul>li>a.wishlist span.count-number {
    position: absolute;
    top: -23%;
    right: -57%;
    padding-top: 1px;
    color: #fff;
    background: #ff4500;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.xs-language>ul>li>a:hover span.count-number{
    color: #fff;
}
/*/////////////////////////////XS-MENU/////////*/

.xs-menu-cros {
    width: 48.8px;
    height: auto;
    background: #171718;
    padding: 11px;
}
.xs-menu-cros .icon-1,
 .xs-menu-cros .icon-2,
  .xs-menu-cros .icon-3 {
    width: 26px;
    height: 3px;
    background: #fff;
    margin: 5px 0px;
}
.xs-menu-cros .icon-2{
    opacity: 0;
}
.xs-menu-cros .icon-1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}
.xs-menu-cros .icon-3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

}
/*********************** Responsible End*******************/
/*********************** Shop Page  Section *******************/
section.shop-wrap {
    padding-top: 30px;
    padding-bottom: 50px;
}
.top-production-wrap{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 22px;
	justify-content: space-between;
}
.top-production a button {
    border: 0;
    padding: 8px 14px;
    font-size: 17px;
    font-weight: 500;
    color: #171718;
    background: #F6FAFD;
    transition: all 0.5s ease;
}
.top-production a button:hover{
	color: #ff4500;
}
.top-production a button span{
	padding-right: 5px;
}
select.select-top-production {
    border: 0;
    padding: 8px 10px;
    width: 260px;
    height: auto;
    color: #171718;
    background: #F6FAFD;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
select.select-top-production:hover{
	color: #ff4500;
}
/*********************** Shop Page  Section *******************/

.shop-crtl {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*.shop-by-categorie{
	width: 25%;
	background: red;
}*/
.products{
	width: 100%;
}
.products-wrap>ul{
	display: flex;
	flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.products-wrap>ul>li {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.products-crtl{
    background: #fff;
    border: 1px solid #0000003b;
    padding: 15px 15px 14px 15px;
}
.products-image{
    overflow: hidden;
    position: relative;
}
.products-image .img-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    background: #0000003b;
    opacity: 0;
    z-index: 9;
    transition: 350ms ease 0s;
}
.products-image img{
    width: 100%;
    height: auto;
    transition: all 0.8s ease;
}
.products-crtl:hover .products-image img{
    transform: scale(1.2);
}
.products-crtl:hover .products-image .img-overlay{
    opacity: 1;
}
.product-label p{
    position: absolute;
    width: 55px;
    height: 30px;
    top: 0;
    background: #171718;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 4px;
    z-index: 10;
}
.wcwl-add-button>ul{
    position: absolute;
    top: 2%;
    right: 0;
    bottom: 5%;
    transform: scale3d(0,1 , 1);
    transform-origin: right;
    transition: all 0.5s ease;
    z-index: 10;
}
.products-crtl:hover .wcwl-add-button>ul{
    transform: scale3d(1, 1, 1);
}
.wcwl-add-button>ul>li{
    position: relative;
    padding-left: 7px;
}
.wcwl-add-button>ul>li>a{
    font-size: 18px;
    color: #171718;
    padding: 5px 10px;
    transition: all 0.5s ease;
}
.wcwl-add-button>ul>li>ul {
    position: absolute;
    left: -145%;
    top: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    z-index: 10;
    transition: all 0.5s ease;
}
.wcwl-add-button>ul>li:hover ul{
    height: auto;
    opacity: 1;
}
.wcwl-add-button>ul>li>ul>li{
    background: #ddd;
    padding: 1px 14px;
    border-radius: 30px;
}
.wcwl-add-button>ul>li>ul>li>a{
    font-size: 13px;
    font-weight: 500;
    color: #171718;
}
.product-name a{
    font-size: 14px;
    color: #171718;
    font-weight: 400;
    line-height: 21px;
    display: block;
    padding-top: 10px;
    transition: all 0.5s ease;
}
.product-name a:hover{
    color: #ff4500;
}
.star-rating>ul>li {
    display: table-cell;
    line-height: 35px;
    font-size: 10px;
    color: #171718;
}
.star-rating>ul>li i{
    font-size: 17px;
    color: #ff4500;
}
.price-crtl p {
    font-size: 18px;
    color: #ff4500;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.price-crtl p del{
    color: #171718;
    padding-right: 15px;
}
.add-to-cart>ul>li{
    display: inline-block;
    padding-right: 3px;
}
.add-to-cart>ul>li>a {
    border-right: 1px solid #857474 !important;
    padding-right: 8px;
    line-height: 12px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    display: block;
    transition: all 0.5s ease;
}
.add-to-cart>ul>li>a:hover{
    color: #ff4500;
}
.add-to-cart>ul>li:last-of-type > a {
    border-right: 0px !important;
}
.price {
    padding-bottom: 35px;
    position: relative;
}
.price-crtl {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
    transition: all 0.5s ease;
}
.add-to-cart {
    position: absolute;
    bottom: 10%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
.products-crtl:hover .price-crtl{
    top: -30%;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.products-crtl:hover .add-to-cart{
    opacity: 1;
    height: auto;
    bottom: 6%;
}

.shop-crtl.active .products {
    width: 75%;
     transition: all 0.1s ease;
}


/********************SHOP BY CATEGORIES********************/
.product-categories {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;
    left: -384px;
}
.shop-crtl.active .product-categories {
    width: 25%;
    position: relative;
    padding-top: 5px;
    padding-left: 22px;
    padding-right: 22px;
    opacity: 1;
    left: 0px;
    height: auto;
}
.product-categories h4,
.product-color h4,
.product-cpu h4,
.star-rating-crtl h4,
.product-viewwd h4{
    color: #171718;
    font-size: 21px;
    padding-bottom: 15px;
}
.categories-crtl {
    padding-top: 5px;
    padding-bottom: 30px;
}
.check input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
.categories-crtl>ul>li {
    position: relative;
    padding-left: 23px;
}
span.check-text{
    font-size: 16px;
    font-weight: 500;
    color: #171718;
    cursor: pointer;
    line-height: 29px;
    transition: all 0.5s ease;
}
label.check:hover .check-text {
    color: red;
}
span.checkmark {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 15%;
    left: 0;
    cursor: pointer;
    border: 1px solid #0000003b;
    transition: all 0.5s ease;
}
label.check:hover .checkmark {
    border:1px solid red;
}
span.checkmark:after{
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    border: solid #171718;
    top: 5.8%;
    left: 27%;
    border-width: 0px 1px 1px 0px;
    transform: rotate(35deg);
    opacity: 0;
}
.check input[type="checkbox"]:checked~.checkmark::after {
    opacity: 1;
}

.product-color>ul>li{
    display: inline-block;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid #0000003b;
}
.product-color>ul>li>a{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: pink;
}

.product-color,
.product-cpu,
.star-rating-crtl{
    padding-bottom: 30px;
}
.product-cpu>ul>li{
    display: inline-block;
    margin-bottom: 4px;
    min-width: 65px;
    background: #171718;
    min-height: 30px;
    text-align: center;
   transition: all 0.5s ease;
}
.product-cpu>ul>li:hover{
    background: #ff4500;
}
.product-cpu>ul>li>a {
    display: block;
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s ease;
}
.product-cpu>ul>li:hover a{
    color: #171718;
}
.categories-crtl.brands>ul {
    overflow-y: scroll;
    height: 233px;
}
/* width */
.categories-crtl.brands ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.categories-crtl.brands ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.categories-crtl.brands ::-webkit-scrollbar-thumb {
  background: #A8A8A8;
  transition: all .5s ease;
}
.categories-crtl.brands ::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.star-rating-crtl>ul>li>a:hover .star-text{
    color: #ff4500;
}
.star-rating-crtl>ul>li>a .star-icon{
    color: #ff4500;
    font-size: 15px;
}
.star-rating-crtl>ul>li>a .star-text{
    color: #171718;
    font-size: 12px;
    transition: all 0.5s ease;
}
.viewwd-wrap {
    display: flex;
    justify-content: space-between;
}
.viewwd-cetl a{
    font-size: 15px;
    max-height: 54px;
    line-height: 19px; 
    color: #171718;
     text-overflow: ellipsis; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    transition: all 0.5s ease;
}
.viewwd-cetl a:hover{
    color: #ff4500;
}
.viewwd-price {
    display: flex;
}
.viewwd-price p del{
    color: #171718;
    padding-right: 10px;
}
.viewwd-price p{
font-size: 15px;
    color: #ff4500;
    font-weight: 400;
    padding-top: 5px;
    font-family: 'Rubik', sans-serif;
}
.viewwd-img{
    position: relative;
    margin-right: 15px;
}
.viewwd-img img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
.viewwd-img .overlay:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    opacity: 0;
    background: #0000003b;
    transition: 350ms ease 0s;
}
.viewwd-img:hover .overlay:after{
    opacity: 1;
}
/********************SHOP BY CATEGORIES Enf*******************/

/*********************** Responsible***********************/
@media(max-width: 1326px){
    .shop-crtl.active .products-crtl {
        padding: 8px 8px 7px 8px;
    }
    .shop-crtl.active .add-to-cart>ul>li>a{
        font-size: 14px;
    }
    .shop-crtl.active .product-categories {
        padding-left: 1px;
        padding-right: 14px;
    }
}
@media(max-width: 1100px){
    .shop-crtl.active .products-wrap>ul>li {
        width: 33.33% !important;
    }
}
@media(max-width: 991px){
    .products-wrap>ul>li {
        width: 33.33% !important;
    }
    .shop-crtl.active .products-wrap>ul>li {
        width: 50% !important;
    }
    .shop-crtl.active .products{
        width: 70%;
    }
    .shop-crtl.active .product-categories{
        width: 30%;
    }
     .shop-crtl.active span.check-text{
        font-size: 14px;
    }
    .shop-crtl.active span.checkmark {
        position: absolute;
        width: 14px;
        height: 14px;
        top: 16%;
    }
    .product-categories h4,
    .product-color h4,
    .product-cpu h4,
    .star-rating-crtl h4,
    .product-viewwd h4 {
    font-size: 18px;
}
}
@media(max-width: 767px){
    .products-wrap>ul>li {
        width: 50% !important;
    }
    .shop-crtl.active .products .products-wrap>ul>li {
        width: 100% !important;
    }
    .shop-crtl.active .products,
    .shop-crtl.active .product-categories{
        width: 50%;
    }
    .shop-crtl.active select.select-top-production{
        width: 100%;
    }
}
@media(max-width: 575px){
    .shop-crtl.active .products {
        padding-left: 0;
        transform: translate(330px, 0);
        width: 60%;
    }
    .shop-crtl{
        overflow: hidden;
    }
    .shop-crtl.active .product-categories {
        width: 55%;
        position: absolute;
        left: 0;
    }
    .shop-crtl.active .product-categories {
        padding-left: 16px;
    }
}
@media(max-width: 543px){
    .products-wrap>ul>li {
        width: 100% !important;
    }
    .shop-crtl.active .products {
        padding-left: 0;
        transform: translate(184px, 0);
        width: 65%;
    }
    .products {
        width: 75%;
        margin: auto;
    }
    select.select-top-production{
        width: auto;
    }
}
@media(max-width: 470px){
    .shop-crtl.active .products {
        transform: translate(232px, 0);
        width: 70%;
    }
}
@media(max-width: 425px){
    select.select-top-production{
        padding: 5px;
        font-size: 15px;
    }
    .top-production a button {
        padding: 4px 7px;
        font-size: 15px;
    }
    .products {
        width: 86%;
    }
    .shop-crtl.active .products {
        transform: translate(207px, 0);
        width: 68%;
    }
    .shop-crtl.active span.check-text {
        font-size: 13px;
    }
    .categories-crtl>ul>li {
        padding-left: 19px;
    }
    .product-categories h4,
    .product-color h4,
    .product-cpu h4,
    .star-rating-crtl h4,
    .product-viewwd h4 {
    font-size: 15px;
}
}
@media(max-width: 385px){
    .shop-crtl.active .product-categories{
        width: 67%;
    }
    .shop-crtl.active .products{
        width: 96%;
    }
}

/*********************** Responsible End*******************/
section.top-footer-wrap {
    padding: 50px 0px;
    background: #131F35;
}
.top-footer-crtl h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 50.8px;
}
.info-content ul li {
    position: relative;
    padding-left: 40px;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    padding-bottom: 15px;
}
.info-content ul li span {
    position: absolute;
    top: 3%;
    left: 0;
    color: #fff;
    background: #171718;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.info-content ul li:hover span{
    color: #171718;
    background: #ff4500;
}
.top-footer-crtl>ul>li {
    padding-bottom: 14px;
}
.top-footer-crtl>ul>li>a{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s ease;
}
.top-footer-crtl>ul>li:hover a{
    color: #ff4500;
    padding-left: 8px;
}
.top-footer-crtl p{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 18px;
}
.top-footer-signup {
    position: relative;
}
input[type="email"] {
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    font-style: italic;
    outline: none;
    border: 2px solid transparent;
    padding: 5px 45px 5px 17px;
    transition: all 0.5s ease;
}
input[type="email"]:focus{
    border: 2px solid #ff4500;
}
.ftr-sub-btn {
    position: absolute;
    right: 0;
    width: 49px;
    height: 45px;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 23px;
    padding-right: 10px;
}
.top-footer-icon{
    margin-top: 15px;
}
.top-footer-icon a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #171718;
    font-size: 23px;
    color: #fff;
    margin-right: 7px;
    transition: all 0.5s ease;
}
.top-footer-icon a:hover{
    color: #171718;
    background: #ff4500;
}




/*//////////Footer//////////*/
footer{
    background: #000;
    padding: 30px 0px;
}
.footer-text-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-text-item {
    display: flex;
}
.ftr-menu>ul>li {
    display: inline-block;
}
.ftr-menu>ul>li>a{
    color: #fff;
    font-style: italic;
    font-size: 15px;
    transition: .5s;
}
.ftr-menu>ul>li>a:hover{
    color: orange;
}
.footer-text-item p {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding-right: 15px;
}
.footer-text-item li {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}
.footer-text-item>li>a{
    font-size: 17px;
    color: #FC274D;
    font-style: italic;
    padding-left: 5px;
    transition: 0.5s;
}
.footer-text-item a:hover{
    color: orange;
}
/*//////////Footer End//////////*/


/*//////////backToTopInit///////*/
#button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 21px;
    color: #fff;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 27px;
    right: 3px;
    opacity: 0;
    border-radius: 5px;
    transition: 0.6s;
}
#button i{
    animation-name: back-to-top;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;


}
@keyframes back-to-top {
    from { transform: translate(0,  -5px); }
    60%  { transform: translate(0, 1px); }
    to   { transform: translate(0, -5px); } 
}
#button:hover{
    background-color: #ff4500;
}
#button.show{
    opacity: 1;
}
/*//////////backToTopInit///////*/



@media(max-width: 991px){
    .top-footer-crtl h4{
        font-size: 16px;
    }
    .top-footer-crtl>ul>li>a{
        font-size: 14px;
    }
    .top-footer-crtl>ul>li {
        padding-bottom: 10px;
    }
    .info-content ul li{
        font-size: 14px;
        padding-left: 37px;
    }
    .top-footer-crtl p{
        font-size: 14px;
    }
}
@media (max-width: 850px){
    .top-footer-crtl h4 {
        font-size: 14px;
    }
}
@media (max-width: 767px){
    .top-footer-crtl h4 {
        font-size: 17px;
    }
    .footer-text-item p{
        font-size: 16px;
    }
    #button{
        bottom: 75px;
    }
}
@media(max-width: 603px){
    .footer-text-item p{
        font-size: 14px;
    }
}
@media(max-width: 825px){
     .footer-text-items{
        display: block;
    }
    .footer-text-item{
        justify-content: center;
    }
}
@media(max-width: 578px){
    .footer-text-item{
        display: block;
    }
    .footer-text-items{
        text-align: center;
    }
    .ftr-menu {
        padding: 10px 0px;
    }
}
section.breadcrumb-wrap.single-page {
    padding: 25px 0px;
}
.single-page-zoom {
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.product-label.zoon p{
    width: 80px;
}
.xzoom-thumbs a{
    text-decoration: none;
}
.xzoom-thumbs img{
    display: inline-block;
    width: 100%;
    max-width: 107px;
    height: auto;
    border: 1px solid #ddd;
}
.xzoom-preview{
    border: 1px solid #000;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
}
.xzoom-gallery.active{
    border: 1px solid #000 !important;
}




/******************************* Samari ******************************/
section.single-page-wrap {
    padding: 30px 0px 75px;
}
.products-star>ul>li{
    display: inline-block;
}
.products-star>ul>li span{
    font-size: 16px;
    color: #ff4500;
}
.products-star>ul>li>a{
    font-size: 12px;
    color: #171718;
    transition: all 0.5s ease;
}
.products-star>ul>li>a:hover{
    color: #ff4500; 
}
.price-crtl.samari {
    display: flex;
    flex-wrap: wrap;
    position: inherit;
    padding-top: 20px;
    transition: all 0.5s ease;
}
.price-crtl.samari p {
    font-size: 20px;
    color: #ff4500;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.products-title h2{
    font-size: 22px;
    margin: 10px 0;
}
.products-title p{
    font-size: 16px;
    font-style: italic;
}
.price-crtl.samari p del{
    color: #171718;
    padding-right: 15px;
    font-size: 15px;
}
.buy-now a button {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    padding: 9px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #171718;
    text-transform: uppercase;
    transition: all .5s ease;
}
.buy-now a button:hover{
    background: #ff4500;
}
.button-tooltip a {
    font-size: 16px;
    font-weight: 500;
    color: #171718;
    transition: all 0.5s ease;
}
.button-tooltip a i{
    padding-right: 5px;
}
.button-tooltip a:hover{
    color: #ff4500;
}
.products-samari-crtl {
    padding-bottom: 25px;
    border-bottom: 2px solid #ddd;
}
.product-meta{
    padding-top: 20px;
}
.product-meta p{
    font-size: 18px;
    color: #171718;
    font-weight: 400;
    padding-bottom: 5px;
}
.product-meta p a{
    color:  #171718;
    padding-left: 5px;
    transition: all 0.5s ease;
}
.product-meta p a:hover{
    color: #ff4500;
}
.meta-content>ul>li {
    display: inline-block;
    margin-top: 15px;
}
.meta-content>ul>li>a{
    display: block;
    padding: 3px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.meta-content>ul>li>a.face{
    background: #3b5998;
}
.meta-content>ul>li>a.twit{
    background: #2caae1;
}
.meta-content>ul>li>a.pint{
    background: #cb2027;
}
.meta-content>ul>li>a.link{
    background: #0073b1;
}
.meta-content>ul>li>a:hover{
    opacity: 0.7;
}

.single-page-text {
    padding-top: 50px;
}
.single-page-text h3 {
    font-size: 20px;
    line-height: 42px;
}
.single-page-text p {
    font-size: 17px;
    font-weight: 500;
}
/******************************* Samari ******************************/

section.related-products-wrap {
    padding-bottom: 50px;
}
.related-products-title h3 {
    text-align: center;
    padding-bottom: 25px;
    font-size: 29px;
    font-weight: 600;
}
button.slick-custom-prev.slick-arrow,
button.slick-custom-next.slick-arrow{
    position: absolute;
    z-index: 999;
    left: 0%;
    top: 45%;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    font-size: 24px;
    background: #171718;
    color: #fff;
    border: 0;
    opacity: 0;
    transition: all 0.5s ease;
}
button.slick-custom-next.slick-arrow{
    right: 0%;
    left: auto;
}
button.slick-custom-prev.slick-arrow:hover,
button.slick-custom-next.slick-arrow:hover{
    background: #ff4500;
}
.products-wrap:hover button.slick-custom-prev.slick-arrow {
    left: 1%;
    opacity: 1;
}
.products-wrap:hover button.slick-custom-next.slick-arrow {
    right: 1%;
    opacity: 1;
}
.products-mr {
    margin: 0px 5px;
}


button.zoom-img-left.slick-arrow, button.zoom-img-right.slick-arrow {
    position: absolute;
    z-index: 999;
    left: 40%;
    bottom: -46%;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    background: transparent;
    font-size: 24px;
    color: #171718;
    border: 0;
    /* opacity: 0; */
    transition: all 0.5s ease;
}
button.zoom-img-right.slick-arrow{
    right: 40%;
    left: auto;
}
@media(max-width: 767px){
    .products-samari-wrap {
        padding-top: 45px;
    }
    .breadcrumb-menu>ul>li>a{
        font-size: 15px;
    }
}
@media(max-width: 375px){
    button.zoom-img-right.slick-arrow {
        bottom: -50%;
        right: 37% !important;
    }
    button.zoom-img-left.slick-arrow{
        bottom: -50%;
        left: 37% !important;
    }
}
section.blog-list-wrap{
    padding: 50px 0px;
}
.blog-lest-crtl {
    display: flex;
    padding: 50px 0px;
    border-bottom: 1px dashed #171718;
}
.blog-lest-crtl:first-of-type{
    padding-top: 0px;
}
.blog-lest-crtl:last-of-type{
    border-bottom: 0px;
}
.blog-format {
    position: relative;
    width: 50%;
    margin-top: 22px;
    transition: 0.5s;
    margin-bottom: 22px;
    overflow: hidden;
}
.blog-format a.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #17171847;
    z-index: 5;
    transition: all 0.3s ease;
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
}
.blog-format:hover a.overlay{
    transform: scale3d(1, 1, 1);
}
.blog-format img {
    transition: 0.5s;
}
.blog-format:hover img {
    transform: scale(1.3);
}
.blog-content {
    width: 50%;
    padding-left: 25px;
}
.blog-list-menu>ul>li {
    display: inline-block;
}
.blog-list-menu>ul>li>i{
    font-size: 16px;
    color: #ff4500;
    padding-right: 3px;
}
.blog-list-menu>ul>li>a{
    color: #877f7f;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.blog-list-menu>ul>li>a:hover{
    color: #ff4500;
    text-decoration: revert;
}
.blog-list-menu>ul>li>a span.activ{
    color: #ff4500;
}
.blog-list-menu>ul>li>span{
    font-size: 13px;
    color: #171718;
    padding: 0px 10px;
}
.blog-head-txt {
    padding: 16px 0px;
}
.blog-head-txt a h2{
    font-size: 25px;
    font-weight: 600;
    color: #171718;
    line-height: 28px;
    transition: all 0.5s ease;
}
.blog-head-txt a h2:hover{
    color: #ff4500;
}
.blog-text p {
    font-size: 16px;
    padding-bottom: 16px;
}
.blog-text a{
    font-size: 16px;
    font-weight: 600;
    color: #171718;
    transition: all 0.5s ease;
}
.blog-text a span i{
    font-size: 16px;
    font-weight: 600;
    padding-left: 3px;
    transition: all 0.5s ease;
}
.blog-text a:hover{
    color: #ff4500;
}
.blog-text a:hover span i{
    padding-left: 8px;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Sidebar%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/


.blog-sidebar-crtl {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}
.blog-sidebar-text h3{
    font-size: 18px;
    color: #171718;
    font-weight: 600;
    padding-bottom: 10px;
}
.blog-sidebar-menu>ul>li{
    padding-bottom: 5px;
}
.blog-sidebar-menu>ul>li>a{
    font-size: 16px;
    color: #171718;
    font-weight: 500;
    transition: all 0.5s ease;
}
.blog-sidebar-menu>ul>li>a span i {
    padding-right: 5px;
    transition: all 0.5s ease;
}
.blog-sidebar-menu>ul>li>a:hover span i{
    padding-right: 10px;
}
.blog-sidebar-menu>ul>li>a:hover{
    color: #ff4500;
}
.blog-sidebar-image{
    position: relative;
    overflow: hidden;
}
.blog-sidebar-image a.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #17171847;
    z-index: 5;
    transition: all 0.3s ease;
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
}
.blog-sidebar-image:hover a.overlay{
    transform: scale3d(1, 1, 1);
}
.blog-sidebar-image img {
    transition: 0.5s;
}
.blog-sidebar-image:hover img {
    transform: scale(1.3);
}
.entry-content li{
    font-size: 16px;
    color: #877f7f;
    font-weight: 500;
    padding: 10px 0px;
}
.entry-content li i{
    color: #ff4500;
}
.entry-content a h6{
    font-size: 15px;
    font-weight: 600;
    color: #171718;
    transition: all 0.5s ease;
}
.entry-content a h6:last-of-type{
    padding-bottom: 0px;
}
.entry-content a h6:hover{
    color: #ff4500;
}
.entry-content{
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px dashed #877f7f;
}
.entry-content:last-of-type{
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}


.blog-newsletter-crtl{
    text-align: center;
    padding: 35px 30px 40px 30px;
}
.newsletter h3{
    color: #fff;
}
.newsletter-from p{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.email input {
    background: transparent;
    color: #fff;
    border: 2px solid #fff !important;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    transition: all 0.5s ease;
}
.email input:focus{
    border: 2px solid #ff4500 !important;
}
input.Submit {
    font-size: 16px;
    font-weight: 600;
    color: #ff4500;
    background: #fff;
    border-radius: 50px;
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
input.Submit:hover{
    color: #fff;
    background: #ff4500;
}




@media(max-width: 1100px){
    section.blog-list-wrap {
        padding: 28px 0px;
    }
    .blog-lest-crtl{
        display: block;
        padding: 25px 0px;
    }
    .blog-format{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 22px;
    }
    .blog-content{
        width: 100%;
        padding-left: 0;
    }
}
@media(max-width: 425px){
    .blog-list-menu>ul>li>span {
        padding: 0px 0px;
    }
    .blog-list-menu>ul>li>i {
        font-size: 13px;
        padding-right: 0px;
    }
    .blog-list-menu>ul>li>a{
        font-size: 14px;
    }
    .blog-list-menu>ul>li{
        font-size: 14px;
    }
    .blog-list-menu>ul>li>span {
        font-size: 9px;
    }
}
section.blog-detail-wrap {
    padding: 35px 0px 55px;
}
.blog-detail-menu{
    padding-top: 10px;
}
.image-module {
    position: relative;
    overflow: hidden;
    margin: 10px 0px 30px;
}
.image-module a.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #17171847;
    z-index: 5;
    transition: all 0.3s ease;
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
}
.image-module:hover a.overlay{
    transform: scale3d(1, 1, 1);
}
.image-module img {
    transition: 0.5s;
}
.image-module:hover img {
    transform: scale(1.3);
}
.highlighte-module{
    margin-top: 2px;
}
.text-module p {
    font-size: 16px;
    padding: 22px 0px;
}
.text-module a{
    color: #ff4500;
    transition: all 0.4s ease;
}
.text-module a:hover{
    text-decoration: revert;
}
.text-module ul li {
    list-style: disc;
    padding-left: 10px;
    padding-bottom: 7px;
    margin-left: 20px;
}
.qoute-module{
    display: flex;
}
.qoute-icon p i{
     padding-right: 16px;
    font-size: 61px;
}
.qoute-module p {
    font-size: 17px;
    font-weight: 600;
    color: #171718;
    font-style: italic;
    line-height: 32px;
}
.table-module{
    padding-top: 25px;
}
.table-module table {
    border-width: 1px;
    border-color: rgba(229,229,229,1);;
    border-style: solid;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 40px;
}
.table-module table td, table th {
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 15px 0 15px 20px;
    line-height: 20px;
    text-align: start;
}
.related-image{
    width: 100%;
}
.related-module{
    padding: 0px 10px;
}
.related-text{
    padding: 9px 0px;
}
.related-text a h2{
    font-size: 18px;
}
.related-title h3{
    font-size: 25px;
}
.related-module-crtl{
    overflow: hidden;
}
.footer-sort-link {
    display: none;
}

@media(max-width: 1050px){
    .highlighte-module h4 {
        font-size: 20px;
    }
    .related-text a h2{
        font-size: 16px;
    }
    .blog-head-txt {
        padding: 10px 0px;
    }
    .blog-head-txt h2 {
         font-size: 25px;
   }
   .related-module-crtl {
          margin-top: 25px;
    }
}
@media(max-width: 767px){
    .related-module-crtl {
         margin-bottom: 25px;
         margin-top: 25px;
    }
    .text-module p {
        padding: 15px 0px;
    }
    .blog-list-menu>ul>li>span {
        font-size: 11px;
        padding: 0px 0px;
    }
    .blog-list-menu>ul>li>a{
        font-size: 14px;
    }
    .blog-list-menu>ul>li>i,
    .blog-list-menu>ul>li{
        font-size: 14px;
    }
    .qoute-module {
        display: block;
    }
    .qoute-icon p {
         padding: 0;
    }
    .table-module {
        overflow-y: scroll;
    }
    .table-module table td, table th {
        padding: 10px 0 10px 14px;
        line-height: 19px;
        font-size: 16px;
    }
    .footer-sort-link {
         display: block;
    }
    .footer-sort-link {
        background: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        box-shadow: 0 -3px 4px rgb(0 0 0 / 10%);
    }
    .footer-sort-link>ul {
        display: flex;
        justify-content: space-around;
    }
    .footer-sort-link>ul>li {
        display: inline-block;
        padding: 15px 0px;
    }
    .footer-sort-link>ul>li>a {
        display: grid;
        text-align: center;
        color: #171718;
        font-size: 18px;
        font-weight: 500;
        line-height: 17px;
        transition: all 0.5s ease;
    }
    .footer-sort-link>ul>li>a>span {
        padding-top: 5px;
    }
    .footer-sort-link>ul>li>a:hover{
        color: #ff4500;
    }
    .footer-sort-link>ul>li>a.ftr-sort-link{
        position: relative;
    }
    .footer-sort-link>ul>li>a.ftr-sort-link span.wis-no {
        position: absolute;
        right: 19%;
        top: -10px;
        background: red;
        width: 17px;
        height: 17px;
        display: flex;
        color: #fff;
        align-items: center;
        padding: 5px;
        border-radius: 50px;
        font-size: 15px;
        justify-content: center;
    }
}
@media(max-width: 425px){
    .footer-sort-link>ul>li>a{
        font-size: 16px;
    }
}
.xzoom-preview{
	border: 2px solid #e0e0e0;
	box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
}
.xzoom-thumbs img.active{
	box-shadow: 0 0 3px 0 #4aaab1;
}