/*********************** Shop Page  Section *******************/
section.shop-wrap {
    padding-top: 30px;
    padding-bottom: 50px;
}
.top-production-wrap{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 22px;
	justify-content: space-between;
}
.top-production a button {
    border: 0;
    padding: 8px 14px;
    font-size: 17px;
    font-weight: 500;
    color: #171718;
    background: #F6FAFD;
    transition: all 0.5s ease;
}
.top-production a button:hover{
	color: #ff4500;
}
.top-production a button span{
	padding-right: 5px;
}
select.select-top-production {
    border: 0;
    padding: 8px 10px;
    width: 260px;
    height: auto;
    color: #171718;
    background: #F6FAFD;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
select.select-top-production:hover{
	color: #ff4500;
}
/*********************** Shop Page  Section *******************/

.shop-crtl {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*.shop-by-categorie{
	width: 25%;
	background: red;
}*/
.products{
	width: 100%;
}
.products-wrap>ul{
	display: flex;
	flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.products-wrap>ul>li {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.products-crtl{
    background: #fff;
    border: 1px solid #0000003b;
    padding: 15px 15px 14px 15px;
}
.products-image{
    overflow: hidden;
    position: relative;
}
.products-image .img-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    background: #0000003b;
    opacity: 0;
    z-index: 9;
    transition: 350ms ease 0s;
}
.products-image img{
    width: 100%;
    height: auto;
    transition: all 0.8s ease;
}
.products-crtl:hover .products-image img{
    transform: scale(1.2);
}
.products-crtl:hover .products-image .img-overlay{
    opacity: 1;
}
.product-label p{
    position: absolute;
    width: 55px;
    height: 30px;
    top: 0;
    background: #171718;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 4px;
    z-index: 10;
}
.wcwl-add-button>ul{
    position: absolute;
    top: 2%;
    right: 0;
    bottom: 5%;
    transform: scale3d(0,1 , 1);
    transform-origin: right;
    transition: all 0.5s ease;
    z-index: 10;
}
.products-crtl:hover .wcwl-add-button>ul{
    transform: scale3d(1, 1, 1);
}
.wcwl-add-button>ul>li{
    position: relative;
    padding-left: 7px;
}
.wcwl-add-button>ul>li>a{
    font-size: 18px;
    color: #171718;
    padding: 5px 10px;
    transition: all 0.5s ease;
}
.wcwl-add-button>ul>li>ul {
    position: absolute;
    left: -145%;
    top: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    z-index: 10;
    transition: all 0.5s ease;
}
.wcwl-add-button>ul>li:hover ul{
    height: auto;
    opacity: 1;
}
.wcwl-add-button>ul>li>ul>li{
    background: #ddd;
    padding: 1px 14px;
    border-radius: 30px;
}
.wcwl-add-button>ul>li>ul>li>a{
    font-size: 13px;
    font-weight: 500;
    color: #171718;
}
.product-name a{
    font-size: 14px;
    color: #171718;
    font-weight: 400;
    line-height: 21px;
    display: block;
    padding-top: 10px;
    transition: all 0.5s ease;
}
.product-name a:hover{
    color: #ff4500;
}
.star-rating>ul>li {
    display: table-cell;
    line-height: 35px;
    font-size: 10px;
    color: #171718;
}
.star-rating>ul>li i{
    font-size: 17px;
    color: #ff4500;
}
.price-crtl p {
    font-size: 18px;
    color: #ff4500;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.price-crtl p del{
    color: #171718;
    padding-right: 15px;
}
.add-to-cart>ul>li{
    display: inline-block;
    padding-right: 3px;
}
.add-to-cart>ul>li>a {
    border-right: 1px solid #857474 !important;
    padding-right: 8px;
    line-height: 12px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    display: block;
    transition: all 0.5s ease;
}
.add-to-cart>ul>li>a:hover{
    color: #ff4500;
}
.add-to-cart>ul>li:last-of-type > a {
    border-right: 0px !important;
}
.price {
    padding-bottom: 35px;
    position: relative;
}
.price-crtl {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
    transition: all 0.5s ease;
}
.add-to-cart {
    position: absolute;
    bottom: 10%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
.products-crtl:hover .price-crtl{
    top: -30%;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.products-crtl:hover .add-to-cart{
    opacity: 1;
    height: auto;
    bottom: 6%;
}

.shop-crtl.active .products {
    width: 75%;
     transition: all 0.1s ease;
}


/********************SHOP BY CATEGORIES********************/
.product-categories {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;
    left: -384px;
}
.shop-crtl.active .product-categories {
    width: 25%;
    position: relative;
    padding-top: 5px;
    padding-left: 22px;
    padding-right: 22px;
    opacity: 1;
    left: 0px;
    height: auto;
}
.product-categories h4,
.product-color h4,
.product-cpu h4,
.star-rating-crtl h4,
.product-viewwd h4{
    color: #171718;
    font-size: 21px;
    padding-bottom: 15px;
}
.categories-crtl {
    padding-top: 5px;
    padding-bottom: 30px;
}
.check input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
.categories-crtl>ul>li {
    position: relative;
    padding-left: 23px;
}
span.check-text{
    font-size: 16px;
    font-weight: 500;
    color: #171718;
    cursor: pointer;
    line-height: 29px;
    transition: all 0.5s ease;
}
label.check:hover .check-text {
    color: red;
}
span.checkmark {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 15%;
    left: 0;
    cursor: pointer;
    border: 1px solid #0000003b;
    transition: all 0.5s ease;
}
label.check:hover .checkmark {
    border:1px solid red;
}
span.checkmark:after{
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    border: solid #171718;
    top: 5.8%;
    left: 27%;
    border-width: 0px 1px 1px 0px;
    transform: rotate(35deg);
    opacity: 0;
}
.check input[type="checkbox"]:checked~.checkmark::after {
    opacity: 1;
}

.product-color>ul>li{
    display: inline-block;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid #0000003b;
}
.product-color>ul>li>a{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: pink;
}

.product-color,
.product-cpu,
.star-rating-crtl{
    padding-bottom: 30px;
}
.product-cpu>ul>li{
    display: inline-block;
    margin-bottom: 4px;
    min-width: 65px;
    background: #171718;
    min-height: 30px;
    text-align: center;
   transition: all 0.5s ease;
}
.product-cpu>ul>li:hover{
    background: #ff4500;
}
.product-cpu>ul>li>a {
    display: block;
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s ease;
}
.product-cpu>ul>li:hover a{
    color: #171718;
}
.categories-crtl.brands>ul {
    overflow-y: scroll;
    height: 233px;
}
/* width */
.categories-crtl.brands ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.categories-crtl.brands ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.categories-crtl.brands ::-webkit-scrollbar-thumb {
  background: #A8A8A8;
  transition: all .5s ease;
}
.categories-crtl.brands ::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.star-rating-crtl>ul>li>a:hover .star-text{
    color: #ff4500;
}
.star-rating-crtl>ul>li>a .star-icon{
    color: #ff4500;
    font-size: 15px;
}
.star-rating-crtl>ul>li>a .star-text{
    color: #171718;
    font-size: 12px;
    transition: all 0.5s ease;
}
.viewwd-wrap {
    display: flex;
    justify-content: space-between;
}
.viewwd-cetl a{
    font-size: 15px;
    max-height: 54px;
    line-height: 19px; 
    color: #171718;
     text-overflow: ellipsis; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    transition: all 0.5s ease;
}
.viewwd-cetl a:hover{
    color: #ff4500;
}
.viewwd-price {
    display: flex;
}
.viewwd-price p del{
    color: #171718;
    padding-right: 10px;
}
.viewwd-price p{
font-size: 15px;
    color: #ff4500;
    font-weight: 400;
    padding-top: 5px;
    font-family: 'Rubik', sans-serif;
}
.viewwd-img{
    position: relative;
    margin-right: 15px;
}
.viewwd-img img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
.viewwd-img .overlay:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    opacity: 0;
    background: #0000003b;
    transition: 350ms ease 0s;
}
.viewwd-img:hover .overlay:after{
    opacity: 1;
}
/********************SHOP BY CATEGORIES Enf*******************/

/*********************** Responsible***********************/
@media(max-width: 1326px){
    .shop-crtl.active .products-crtl {
        padding: 8px 8px 7px 8px;
    }
    .shop-crtl.active .add-to-cart>ul>li>a{
        font-size: 14px;
    }
    .shop-crtl.active .product-categories {
        padding-left: 1px;
        padding-right: 14px;
    }
}
@media(max-width: 1100px){
    .shop-crtl.active .products-wrap>ul>li {
        width: 33.33% !important;
    }
}
@media(max-width: 991px){
    .products-wrap>ul>li {
        width: 33.33% !important;
    }
    .shop-crtl.active .products-wrap>ul>li {
        width: 50% !important;
    }
    .shop-crtl.active .products{
        width: 70%;
    }
    .shop-crtl.active .product-categories{
        width: 30%;
    }
     .shop-crtl.active span.check-text{
        font-size: 14px;
    }
    .shop-crtl.active span.checkmark {
        position: absolute;
        width: 14px;
        height: 14px;
        top: 16%;
    }
    .product-categories h4,
    .product-color h4,
    .product-cpu h4,
    .star-rating-crtl h4,
    .product-viewwd h4 {
    font-size: 18px;
}
}
@media(max-width: 767px){
    .products-wrap>ul>li {
        width: 50% !important;
    }
    .shop-crtl.active .products .products-wrap>ul>li {
        width: 100% !important;
    }
    .shop-crtl.active .products,
    .shop-crtl.active .product-categories{
        width: 50%;
    }
    .shop-crtl.active select.select-top-production{
        width: 100%;
    }
}
@media(max-width: 575px){
    .shop-crtl.active .products {
        padding-left: 0;
        transform: translate(330px, 0);
        width: 60%;
    }
    .shop-crtl{
        overflow: hidden;
    }
    .shop-crtl.active .product-categories {
        width: 55%;
        position: absolute;
        left: 0;
    }
    .shop-crtl.active .product-categories {
        padding-left: 16px;
    }
}
@media(max-width: 543px){
    .products-wrap>ul>li {
        width: 100% !important;
    }
    .shop-crtl.active .products {
        padding-left: 0;
        transform: translate(184px, 0);
        width: 65%;
    }
    .products {
        width: 75%;
        margin: auto;
    }
    select.select-top-production{
        width: auto;
    }
}
@media(max-width: 470px){
    .shop-crtl.active .products {
        transform: translate(232px, 0);
        width: 70%;
    }
}
@media(max-width: 425px){
    select.select-top-production{
        padding: 5px;
        font-size: 15px;
    }
    .top-production a button {
        padding: 4px 7px;
        font-size: 15px;
    }
    .products {
        width: 86%;
    }
    .shop-crtl.active .products {
        transform: translate(207px, 0);
        width: 68%;
    }
    .shop-crtl.active span.check-text {
        font-size: 13px;
    }
    .categories-crtl>ul>li {
        padding-left: 19px;
    }
    .product-categories h4,
    .product-color h4,
    .product-cpu h4,
    .star-rating-crtl h4,
    .product-viewwd h4 {
    font-size: 15px;
}
}
@media(max-width: 385px){
    .shop-crtl.active .product-categories{
        width: 67%;
    }
    .shop-crtl.active .products{
        width: 96%;
    }
}

/*********************** Responsible End*******************/